body{
    margin: 0;
    font-family: 'Trebuchet MS';
    font-size: larger;
    color: black;
    
}

section{
padding-top: 2%;
padding-left: 10%;
padding-right: 10%;
}

header{
    background-color: dimgray;
    text-align: center;
    padding : 10px;
    color: white;
}

.menu{
    margin: 0;
    padding: 8px;
    background-color: rgb(77, 75, 75);
    color: white;
}

.menu li{
    display: inline;
    padding: 60px
    
}

.button{
    text-decoration: none;
    color: aliceblue;
    padding: 8px
    

}

.button:hover{
    background-color: rgb(97, 75, 75);

}
footer{
    background-color: dimgray;
    text-align: center;
    height: 100px;
    color: white;
    padding-top: 20px;
}
.nezh{
    float: left;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;

}
/*nezh nezh skibidi fezh
